@model Logichroma.Models.BusinessObjects.GameModel
@{
    ViewBag.Title = "Logichroma";
}

<h2>@Model.Name</h2>

<div>
    <label>@Model.GamePlayers.Count/5 players joined so far.</label>
</div>

<div>
    <label>Players:</label>
    <ul>
        @foreach (var player in Model.GamePlayers)
        {
            <li>@player.UserName</li>
        }
    </ul>
</div>

@if(Model.GamePlayers.All(x => x.PlayerId != ViewBag.CurrentUser))
{
    <div>
        <p>
            <a class="btn btn-default" href="@Url.Action("Join", "Game", new { gameId = Model.Id }, null)">Join Game</a>
        </p>
    </div>
}
