.vs
*.dbmdl
*.jfm
*.user
bin
obj
packages

Pyrotechnics/Web.AzureSandbox.config
Pyrotechnics/Properties/PublishProfiles/AzureSandbox.pubxml
Pyrotechnics.Database/Pyrotechnics.Database.AzureSandbox.publish.xml
