@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Logichroma</h1>
    <p class="lead">A cooperative logic and memory game where players have to work together to build sequential stacks of color matched cards.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Start", "Game")" >Start New Game &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to play</h2>
        <p>
            View the rules of Logichroma to learn how to play or brush up your memory.
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Rules", "Home")">See rules &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Continue a game</h2>
        <p>You can easily pick up where you left off on a previously saved Logichroma game.</p>
        <p>
            <a class="btn btn-default" href="#">Continue &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tips and Strategies</h2>
        <p>Want to get better at Logichroma? We've got some suggestions.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a>
        </p>
    </div>
</div>