@{
    ViewBag.Title = "Rules";
}
<h2>@ViewBag.Title</h2>

<h3>The Deck</h3>
<p>There are 50 cards in total in a Logichroma deck.</p>
<p>Each card has a numeric value of 1, 2, 3, 4, or 5.</p>
<p>Each card has one of the following five colors: red, yellow, green, blue, or white.</p>
<p>There are 10 cards of each color suit. The numeric values in each color suit are as follows:</p>
<ul>
    <li>Three cards with numeric value 1.</li>
    <li>Two cards with numeric value 2.</li>
    <li>Two cards with numeric value 3.</li>
    <li>Two cards with numeric value 4.</li>
    <li>One card with numeric value 5.</li>
</ul>
<p>The deck is shuffled before a game begins.</p>

<h3>Players' Hands</h3>
<p>If there are 2 or 3 players in the game, each player is dealt 5 cards.</p>
<p>If there are 4 or 5 players in the game, each player is dealt 4 cards.</p>

<p>One of the most unique aspects of Logichroma is that players can see everyone else's hand, EXCEPT their own. Imagine a physical game where players sit in a circle and hold their cards backwards.</p>

<h3>The Game</h3>
<p>Player order is chosen at random and remains fixed for the duration of the game.</p>
<p>Each player gets a single action on their turn. Turns are not allowed to be skipped.</p>




