@{
    ViewBag.Title = "Pyrotechnics";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">A cooperative game where players work together to put on a fireworks show.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Start New Game &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to play</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Rules", "Home")">See rules &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Continue a game</h2>
        <p>You can easily pick up where you left off on a previously saved Pyrotechnics game.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Continue &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
</div>